<div style="padding: 1rem">

  <h6>Large</h6>
  <div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.lg"
        [titlePosition]="titlePosition.Left"
        [title]="'Left title'"
      ></bs-text-area>
    </div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.lg"
        [titlePosition]="titlePosition.Right"
        [title]="'Right title'"
      ></bs-text-area>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 5px">
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.lg"
          [titlePosition]="titlePosition.Top"
          [title]="'Title on Top'"
        ></bs-text-area>
      </div>
    </div>
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.lg"
          [titlePosition]="titlePosition.Bottom"
          [title]="'Bottom title'"
        ></bs-text-area>
      </div>
    </div>
  </div>
  <hr>
  <h6>Standard</h6>
  <div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Left"
        [title]="'Left title'"
      ></bs-text-area>
    </div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Right"
        [title]="'Right title'"
      ></bs-text-area>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 5px">
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [titlePosition]="titlePosition.Top"
          [title]="'Title on Top'"
        ></bs-text-area>
      </div>
    </div>
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [titlePosition]="titlePosition.Bottom"
          [title]="'Bottom title'"
        ></bs-text-area>
      </div>
    </div>
  </div>
  <hr>
  <h6>Small</h6>
  <div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.sm"
        [titlePosition]="titlePosition.Left"
        [title]="'Left title'"
      ></bs-text-area>
    </div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.sm"
        [titlePosition]="titlePosition.Right"
        [title]="'Right title'"
      ></bs-text-area>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 5px">
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.sm"
          [titlePosition]="titlePosition.Top"
          [title]="'Title on Top'"
        ></bs-text-area>
      </div>
    </div>
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.sm"
          [titlePosition]="titlePosition.Bottom"
          [title]="'Bottom title'"
        ></bs-text-area>
      </div>
    </div>
  </div>
  <hr>
  <h6>X-Small</h6>
  <div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.xsm"
        [titlePosition]="titlePosition.Left"
        [title]="'Left title'"
      ></bs-text-area>
    </div>
    <div style="margin-bottom: 5px">
      <bs-text-area
        [(bsModel)]="text"
        [size]="componentSize.xsm"
        [titlePosition]="titlePosition.Right"
        [title]="'Right title'"
      ></bs-text-area>
    </div>
  </div>

  <div style="display: flex; margin-bottom: 5px">
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.xsm"
          [titlePosition]="titlePosition.Top"
          [title]="'Title on Top'"
        ></bs-text-area>
      </div>
    </div>
    <div style="flex: 1">
      <div style="margin-bottom: 5px">
        <bs-text-area
          [(bsModel)]="text"
          [size]="componentSize.xsm"
          [titlePosition]="titlePosition.Bottom"
          [title]="'Bottom title'"
        ></bs-text-area>
      </div>
    </div>
  </div>
</div>
