<div style="padding: 1rem">

  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Light"
        [title]="'Light'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Light"
        [disabled]="true"
        [title]="'Light'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Grey"
        [title]="'Grey'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.Grey"
        [title]="'Grey'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.SlateGrey"
        [title]="'Slate Grey'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.SlateGrey"
        [title]="'Slate Grey'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Blue"
        [title]="'Blue'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.Blue"
        [title]="'Blue'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.BlueSea"
        [title]="'Blue Sea'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.BlueSea"
        [title]="'Blue Sea'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Green"
        [title]="'Green'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.Green"
        [title]="'Green'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Yellow"
        [title]="'Yellow'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.Yellow"
        [title]="'Yellow'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Red"
        [title]="'Red'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [disabled]="true"
        [color]="color.Red"
        [title]="'Red'"
      ></bs-text-area>
    </div>
  </div>
  <div style="margin-bottom: 5px; display: flex">
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="text"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Dark"
        [title]="'Dark'"
      ></bs-text-area>
    </div>
    <div style="flex: 1">
      <bs-text-area
        [(bsModel)]="textDisabled"
        [titlePosition]="titlePosition.Top"
        titleWidth="40%"
        [color]="color.Dark"
        [disabled]="true"
        [title]="'Dark'"
      ></bs-text-area>
    </div>
  </div>

</div>
