<div style="padding: 5px">
  <h5>ToDo task list:</h5>
  <div style="width: 100%; height: 200px; border: 1px solid dimgray; overflow-y: scroll">
    <app-task-list-item *ngFor="let task of simpleToDoService.tasks"
                        [task]="task"
                        (taskClickEvent)="TaskClickHandler($event)"
                        (taskDoubleClickEvent)="TaskDoubleClickHandler($event)"
                        [isSelected]="simpleToDoService.currentTask?.id === task.id"
    ></app-task-list-item>
  </div>
  <div style="display: flex; margin-top: 5px">
    <div style="flex: 1"></div>
    <div>
      <button class="btn btn-sm btn-primary" style="width: 100px" (click)="AddTaskBtnClick()">Add Task</button>
      <button class="btn btn-sm btn-warning ml-1" style="width: 100px" (click)="EditTaskBtnClick()">Edit Task</button>
      <button class="btn btn-sm btn-danger ml-1" style="width: 100px" (click)="DeleteTaskBtnClick()">Delete Task</button>
      <button class="btn btn-sm btn-danger ml-1" style="width: 100px" (click)="CloseFormBtnClick()">Close form</button>
    </div>
  </div>
</div>
