<div style="padding: 10px; float: left">

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Light">Button lg</bs-button>
    <bs-button [color]="color.Light">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Light">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Light">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Blue">Button lg</bs-button>
    <bs-button [color]="color.Blue">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Blue">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Blue">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.BlueSea">Button lg</bs-button>
    <bs-button [color]="color.BlueSea">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.BlueSea">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.BlueSea">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Grey">Button lg</bs-button>
    <bs-button [color]="color.Grey">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Grey">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Grey">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.SlateGrey">Button lg</bs-button>
    <bs-button [color]="color.SlateGrey">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.SlateGrey">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.SlateGrey">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Green">Button lg</bs-button>
    <bs-button [color]="color.Green">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Green">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Green">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Red">Button lg</bs-button>
    <bs-button [color]="color.Red">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Red">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Red">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Yellow">Button lg</bs-button>
    <bs-button [color]="color.Yellow">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Yellow">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Yellow">Button xsm</bs-button>
  </div>

  <div>
    <bs-button [size]="componentSize.lg" [color]="color.Dark">Button lg</bs-button>
    <bs-button [color]="color.Dark">Button</bs-button>
    <bs-button [size]="componentSize.sm" [color]="color.Dark">Button sm</bs-button>
    <bs-button [size]="componentSize.xsm" [color]="color.Dark">Button xsm</bs-button>
  </div>


</div>
