body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.window-close-btn {
  position: absolute;
  margin: 10px;
  line-height: 8px;
  right: 0;
  font-size: small;
  color: lightgray;
  font-weight: bold;
}

.window-close-btn:hover {
  cursor: pointer;
  color: red;
}
