<div style="padding: 10px; float: left">

  <div class="btn-line">
    <bs-button [color]="color.Light">Button</bs-button>
    <bs-button [color]="color.Light" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Grey">Button</bs-button>
    <bs-button [color]="color.Grey" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.SlateGrey">Button</bs-button>
    <bs-button [color]="color.SlateGrey" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Blue">Button</bs-button>
    <bs-button [color]="color.Blue" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.BlueSea">Button</bs-button>
    <bs-button [color]="color.BlueSea" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Green">Button</bs-button>
    <bs-button [color]="color.Green" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Yellow">Button</bs-button>
    <bs-button [color]="color.Yellow" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Red">Button</bs-button>
    <bs-button [color]="color.Red" [disabled]="true">Disabled</bs-button>
  </div>

  <div class="btn-line">
    <bs-button [color]="color.Dark">Button</bs-button>
    <bs-button [color]="color.Dark" [disabled]="true">Disabled</bs-button>
  </div>

</div>
